/* THIS CIRCULAR NAV IS A MODIFIED VERSION OF THE ORIGINAL: https://codepen.io/Kapilnemo/pen/gMgLWr/?editors=1100 
MY COMMENTS REFLECT WHAT I THINK IS HAPPENING BUT I AM NOT 100% SURE */

/* HIDES THE INPUT CHECKBOX USED TO TOGGLE NAV */
.input {position: absolute; display: none}

/* BOILER PLATE THAT I DON'T FULLY UNDERSTAND */
.mobileNav > * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* POSITIONS THE NAV */
.mobileNav {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translate(-35px, 0);
}

/* BUTTON STYLING */
.btn {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--color-black);
}

.btn {
    background: var(--color-red);
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-pack: center;
            align-items: center;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* FADES THE BUTTONS */
.btn:not(:first-child) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index: -2;
    
    -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
    transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

/* SLIDES THE BUTTONS IN */
.btn:nth-child(2) {top:0px;left:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.btn:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.btn:nth-child(4) {top:0px;left:0px;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.btn:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.btn:nth-child(6) {top:0px;left:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.btn:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}

/* FADES THE BUTTONS IN */
input.input:checked ~ .showMenu .btn:nth-child(2) {
    top:-50px;left:-75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
input.input:checked ~ .showMenu .btn:nth-child(3) {
    top:-95px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
input.input:checked ~ .showMenu .btn:nth-child(4) {
    top:-50px;left:75px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
input.input:checked ~ .showMenu .btn:nth-child(5) {
    top:-130px;left:-80px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
input.input:checked ~ .showMenu .btn:nth-child(6) {
    top:-180px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
  
input.input:checked ~ .showMenu .btn:nth-child(7) {
    top:-130px;left:80px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/* CENTERS HAMBURGER AND X ICON SO THEY ARE IN THE SAME SPOT */
.menuBtn, .closeBtn {
    position: absolute;
    transition: all 0.3s ease;
}

.closeBtn {
    transform: translateY(50px);
    opacity: 0;
}

/* SWITCHES HAMBURGER AND X ICON */
input[type=checkbox].input:checked ~ .showMenu .btn .menuBtn {
    transform: translateY(-50px);
    opacity: 0;
}
  
input[type=checkbox].input:checked ~ .showMenu .btn .closeBtn {
    transform: translateY(0px);
    opacity: 1;
}

/* STYLING FOR MOBILE <Link/> TAGS */
.mobileLink {
    color: var(--color-black);
    text-decoration: none;
}

/* STYLES THE TEXT IN THE MOBILE NAV */
.mobileNavText {
    font-weight: 700;
    font-size: .8rem;
    color: var(--color-black);
}

/* STYLES THE MATERIAL ICONS IN THE MOBILE NAV */
i {
    color: var(--color-black);
}

@media (min-width: 577px) {
    .mobileNav {
        display: none;
    }
}