.messsageContainer {
    margin: auto;
    padding-top: 25%;
    text-align: center;
}
.messsageContainer > h3 {
    padding-top: 30px
}

.backMessage {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 1.5rem;
}

.backMessage:hover {
    font-weight: 700;
    color: var(--color-black);
}