.messsageContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 8vh 0;
}

.messsageContainer > * {
    margin-bottom: 50px;
}

.backMessage {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 1.5rem;
}

.backMessage:hover {
    font-weight: 700;
    color: var(--color-black);
}

@media (max-width: 576px) {
    .messsageContainer {
        padding-top: 50%;
        text-align: center;
    }

    .backMessage {
        font-size: 1rem;
    }
}