@import url('https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900');

:root {
  --color-cream: #fffcf2;
  --color-clay: #ccc5b9;
  --color-gray: #403d39;
  --color-black: #252422;
  --color-red: #eb5e28;
}

html {
  background-color: var(--color-cream);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Spartan, Arial, Helvetica, sans-serif;
  /* outline: 1px solid pink; */
}

.App {
  display: flex;
  justify-content: space-between;
}

main {
 width: 75vw;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-red);
}

h2, h3 {
  font-size: 1.4rem;
  color: var(--color-gray);
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: 600;
}

p {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 576px) {
  main {
    width: 100vw;
   }
}