@import url('https://fonts.googleapis.com/css?family=Spartan');

:root {
  --color-cream: #fffcf2;
  --color-clay: #ccc5b9;
  --color-gray: #403d39;
  --color-black: #252422;
  --color-red: #eb5e28;
}

html {
  background-color: var(--color-cream);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
  font-family: Spartan, Arial, Helvetica, sans-serif;
  /* outline: 1px solid pink; */
}

.App {
  display: flex;
  justify-content: space-between;
}

main {
 width: 75vw;
}