.dataRow {
    margin-bottom: 25px;
}

.linkRow {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

.tag {
    background-color: var(--color-red);
    outline: 1px solid var(--color-cream);
    color: var(--color-cream);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px; 
}

.tag:first-of-type {
    margin-left: 0;
}

.tag:last-of-type {
    margin-right: 0;
}

.tag:hover {
    outline: 1px solid var(--color-gray);
    font-weight: 600;
}

.tag:active {
    outline: 2px solid var(--color-black);
}

.link {
    background-color: var(--color-cream);
    outline: 1px solid var(--color-gray);
    color: var(--color-gray);
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    margin: 5px; 
}

.link:first-of-type {
    margin-left: 0;
}

.link:last-of-type {
    margin-right: 0;
}

.link:hover {
    background-color: var(--color-gray);
    color: var(--color-cream);
    font-weight: 600;
}

.link:active {
    background-color: var(--color-black);
    outline-color: var(--color-black);
}

hr {
    margin-top: 5px;
    width: 200px;
}

.bottomSpacer {
    display: none;
}

@media (max-width: 576px) {
    .dataContainer {
        text-align: center;
    }

    .linkRow {
        justify-content: center;
    }

    .dataRow {
        margin-bottom: 15px;
    }

    hr {
        width: 150px;
        height: 1px;
        margin: 5px auto 0 auto;
        background-color: var(--color-gray);
        border: none;
    }

    .bottomSpacer {
        display: block;
        height: 150px;
        width: auto;
        /* background-color: red; */
    }

    /* Animation */
    .dataContainer {
        -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in-fwd {
        0% {
          -webkit-transform: translateZ(-80px);
                  transform: translateZ(-80px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes fade-in-fwd {
        0% {
          -webkit-transform: translateZ(-80px);
                  transform: translateZ(-80px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
}

@media (min-width: 577px) {
    /* Animation */
    .dataContainer {
        -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }

      @keyframes fade-in-left {
        0% {
          -webkit-transform: translateX(-50px);
                  transform: translateX(-50px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
}